@charset "UTF-8";
.input-engraving {
  background-color: white;
  border-color: #007afc;
}

.input-engraving.disabled {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}
.btn-itemProperty {
  color: #36405b;
  background-color: transparent;
  border-color: #e2e5ed;
}

.btn-itemProperty:hover {
  color: #36405b;
  background-color: transparent;
  border-color: #e2e5ed;
}

.btn-itemProperty:focus, .btn-itemProperty.focus {
  color: #36405b;
  background-color: transparent;
  border-color: #e2e5ed;
}

.btn-itemProperty.disabled:focus, .btn-itemProperty.disabled.focus, .btn-itemProperty:disabled:focus, .btn-itemProperty:disabled.focus {
  background-color: transparent;
  border-color: #e2e5ed;
}

.btn-itemProperty.disabled:hover, .btn-itemProperty:disabled:hover {
  background-color: transparent;
  border-color: #e2e5ed;
}

.btn-itemProperty.disabled {
  color: #9fa0a0;
  border-color: #efefef;
}

.btn-itemProperty.active {
  color: #fff;
  background-color: #374146;
  border-color: #374146;
}

.btn-itemProperty.active:hover {
  color: #fff;
  background-color: #374146;
  border-color: #374146;
}

.btn-itemProperty.active:focus, .btn-itemProperty.active.focus {
  color: #fff;
  background-color: #374146;
  border-color: #374146;
}

.btn-itemProperty.active.disabled:focus, .btn-itemProperty.active.disabled.focus, .btn-itemProperty.active:disabled:focus, .btn-itemProperty.active:disabled.focus {
  background-color: #374146;
  border-color: #374146;
}

.btn-itemProperty.active.disabled:hover, .btn-itemProperty.active:disabled:hover {
  background-color: #374146;
  border-color: #374146;
}

.icon-checkcircle.active {
  color: #f39345 !important;
}

#moveToBagDialog .product-img{
  position: absolute;
  top: -50px;
  left: 0.9375rem;
  background-color: #ffffff;
}

/* 弹出框样式 */
#moveToBagDialog {
  vertical-align: bottom;
  border-radius: 0;
  position: relative;
}

#moveToBagDialog.remodal-is-opening,
#moveToBagDialog.remodal-is-closing {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#moveToBagDialog.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes-movetobag;
  animation-name: remodal-opening-keyframes-movetobag;
}

#moveToBagDialog.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes-movetobag;
  animation-name: remodal-closing-keyframes-movetobag;
}

/* movetobag 弹出框动画 */
@-webkit-keyframes remodal-opening-keyframes-movetobag {

  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes remodal-opening-keyframes-movetobag {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes remodal-closing-keyframes-movetobag {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@keyframes remodal-closing-keyframes-movetobag {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}